.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 200px 0;
}

.about-info-container {
    width: 50%;
    color: #fff;
    position: relative;
    z-index: 1;

    h1 {
        font-size: 4rem;
        margin: 0;
        padding-bottom: 1rem;
    }

    p {
        font-size: 1.3rem;
    }
}

.about-me-content {
    color: #DEBFA8;
    will-change: transform;
}

.contact-information-container {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    gap: 0.5rem;

    >* {
        word-break: break-all;
        white-space: normal;
    }
}

.contact-title {
    text-decoration: underline;
}

.about-img-container {
    position: relative;
    width: 50%;
    will-change: transform;
}

.my-image {
    max-width: 60%;
    border-radius: 1rem;
    float: right;
    position: relative;
    z-index: 5;
}

/* Container for the grid that will be animated */
.grid-container {
    position: absolute;
    z-index: 0;
    top: 20%;
    left: 0px;
    right: 0;
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(5, 1fr);
    max-width: 100%;
    height: 60%;
    gap: 5px;
    transform: rotate(-90deg)
}

/* cotnact buttons */
.button-container {
    display: flex;
    gap: 1rem;
}

.img-contact {
    max-width: 40px;
    cursor: pointer;
}

.img-contact:hover {
    transform: scale(1.05);
}

/* Individual grid cells */
.grid-element {
    background-color: #00D672;
    fill: #097140;
    border-radius: 10px;
}

/* blub */
.blub {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 0;
    background-color: #fff;
    animation: changeShape 1s;
    animation-iteration-count: 1;
}

@keyframes changeShape {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* MEDIA QUERY */

@media (max-width: 725px) {
    .about-container {
        flex-direction: column;
        gap: 3rem;
        padding: 10% 0;
    }

    .about-info-container {
        width: 100%;
    }

    .about-me-content h1 {
        font-size: 8vw;
    }

    .about-me-content p {
        font-size: 1.0rem;
    }

    .my-image {
        max-width: 100%;
    }

    .grid-container {
        position: absolute;
        z-index: 0;
        top: 20%;
        left: -93px;
        right: 0;
        bottom: 0;
        display: grid;
        grid-template-columns: repeat(14, 1fr);
        grid-template-rows: repeat(5, 1fr);
        max-width: 100%;
        height: 60%;
        gap: 5px;
        transform: rotate(-90deg);
    }
}

@media (max-width: 400px) {
    .grid-container {
        position: absolute;
        z-index: 0;
        top: 20%;
        left: -52px;
        right: 0;
        bottom: 0;
        display: grid;
        grid-template-columns: repeat(14, 1fr);
        grid-template-rows: repeat(5, 1fr);
        max-width: 100%;
        height: 60%;
        gap: 5px;
        transform: rotate(-90deg);
    }
}