.hero-container {
    height: calc(100vh - 59.438px);
    position: relative;
    overflow: hidden;
}

.hero-section {
    background-color: #000823;
}

.my-bio-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
    overflow: hidden; /* Added overflow: hidden */
}

.my-bio-content {
    position: relative;
    z-index: 5;
    padding: 1rem 5rem;
    border-radius: 0.3rem;
    opacity: 0.9;
    background-color: transparent;
    backdrop-filter: blur(35px);
    color: #F6D3B7;
    font-size: 2rem;
    will-change: transform, opacity;
}

.reveal {
    opacity: 0;
}

.hero-img-container {
    max-width: 50%;
    position: absolute;
    overflow: hidden;
    max-height: 90%;
    margin-bottom: 130px;
    will-change: transform, opacity;
}

.hero-img {
    width: 100%;
    animation: rotate-animation 59s infinite ease;
    will-change: transform;
}

/* scroll container style */

.scroll-container {
    width: 30px;
    height: 70px;
    border-radius: 0.9rem;
    background-color: #F6D3B7;
    position: absolute;
    right: 15%;
    bottom: 13%;
    will-change: transform, opacity;
}

.dot {
    background-color: #000823;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    top: 17%;
    left: calc(50% - 5px);
    position: relative;
    animation: dot-animation 3s infinite ease-in-out;
}

@keyframes rotate-animation {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0);
    }
}

@keyframes dot-animation {

    0% {
        opacity: 1;
        top: 17%;
    }

    70% {
        top: 70%;
        opacity: 0;
    }

    100% {
        top: 17%;
        opacity: 0;
    }
}

/* MEDIA QUERY */

@media (max-width: 1500px) {
    .hero-title {
        font-size: 3vw;
    }
}

@media (max-width: 798px) {
    .hero-title {
        font-size: 24px;
        
    }
    .hero-container {
        max-height: 80vh;
    }
    .my-bio-content {
        padding: 2rem;
    }
}

